.header {
  padding: 1rem 0;
  border-bottom: 1px solid var(--light-gray);

  &__wrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    font-weight: bold;
    font-size: 24px;
    color: var(--orange);
  }

  &__basket {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .8rem 1.2rem;
    border-radius: 50px;
    text-transform: uppercase;
    background: var(--orange);
    color: #fff;
    transition: var(--transition);

    &:active {
      transform: scale(.9);
    }
  }
  &__basket-title{
    display: block;
    font-size: 14px;
    font-weight: 500;
  }
  &__basket-counter{
    display: block;
    font-size: 12px;
    font-weight: 500;
    background: #fff;
    color: #000;
    padding: 2px 7px;
    border-radius: 50px;
    margin-left: 10px;
  }
}